@use "colors";

#date-time {
    color: colors.$text;
    background-color: colors.$foreground; // Updated
    border-radius: 30px 8px 15px 15px;
    margin-top: 8px;
    padding: 10px 8px 8px 8px;
}

#bar {
    min-width: 40px;
    border-radius: 32px 0 0 32px;
    background-color: colors.$background;
}
