@use "colors";

#tray-container {

    #tray-button {
        padding: 2px;
        border-radius: 30px;
    }

    #tray {
        background-color: transparent;
        border-radius: 999px;
    }

}
