@import url("/home/joebiden/.cache/wal/colors-waybar.css");
* {
    border: none;
    font-family: JetBrains Mono Nerd Font;
    font-size: 18px;
}
#window{
    font-weight: normal;
    font-style: normal;
}
#waybar {
    background: @background;
    opacity: 0.75;
}
window#waybar {
    border-radius: 20px;
    opacity: 0.75;
}
#custom-playerctl {
    color: @color4;
    margin: 5px 2px 5px 8px;
    transition: all 0.4s ease-in-out;
} 
#image {
    margin: 5px 5px 5px 10px;
}
#cava {
    color: @color3;
    background: @background;
    border-radius: 0px 16px 16px 0px;
    border: none;
    border-color: @foreground;
    border-width: 2px;
    padding: 2px 10px;
    margin: 5px 1px 5px 1px;
    transition: all 0.4s ease-in-out;
}
#custom-launcher {
    color: @color3;
    background: @background;
    border-radius: 12px;
    border: solid;
    border-color: @color1;
    border-width: 2px;
    font-size: 22px; 
    font-weight: bold;
    padding: 0px 10px 0px 7px;
    margin: 5px 3px;
}
#keyboard-state  label {
    color: @color1;
    background: @background;
    border-radius: 12px;
    font-weight: bold;
    font-size: 23px;
    padding: 0px 6px 0px 6px;
    margin: 0px 3px 0px 2px;
}
#keyboard-state  label.locked {
    background: @foreground;
    color: @background;
    font-weight: bold;
    font-size: 20px;
    border-radius: 16px;
    padding: 2px 30px;
    margin: 5px 0px;
    transition: all 0.1s ease-in-out;
}
#workspaces {
    color: @color11;
    background: linear-gradient(30deg, @color1, @color2);
    border-radius: 16px;
    padding: 2px 10px;
    margin: 5px 0px;
}
#workspaces button {
    border-radius: 16px;
    padding: 1px 5px;
    margin: 2px 2px;
    color: @background;
    background: @background;
    transition: all 0.3s ease-in-out;
}
#workspaces button.active {
    background-color: @color3;
    min-height: 0px;
    color: @background;
    border-radius: 16px;
    min-width: 60px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}
#workspaces button:hover {
    background-color: @foreground;
    color: @background;
    border-radius: 16px;
    min-width: 60px;
    background-size: 400% 400%;
}
#clock {
    color: @foreground;
    background: linear-gradient(60deg, @color2, @color4);
    font-weight: bold;
    border-radius: 16px;
    padding: 2px 10px;
    margin: 5px 2px;
}
#pulseaudio {
    color: @foreground;
    background: linear-gradient(90deg, @color5, @color5);
    border-radius: 16px 0px 0px 16px;
    padding: 2px 10px;
    margin: 5px 0px 5px 0px;
    font-size: 22px;
}
#pulseaudio-slider{
    background: linear-gradient(90deg, @color5, @color6);
    color: @color3;
    border-radius: 0px 16px 16px 0px;
    padding: 2px 12px 2px 2px;
    margin: 5px 2px 5px 0px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    color: @color3;
    background: @color3;
    min-width: 0px;
    opacity: 0;
}
#pulseaudio-slider trough {
    min-height: 7px;
    min-width: 75px;
    color: @color3;
    border-radius: 5px;
    background: @background;
}
#pulseaudio-slider highlight {
    min-width: 7px;
    border-radius: 5px;
    background-color: @background;
    color: @color3;
}
#window {
    background: linear-gradient(65deg, @color6, @color8);
    color: @background;
    border-radius: 16px;
    padding: 2px 10px;
    margin: 5px 0px;
    transition: all 0.4s ease-in-out;
}
#tray {
    opacity: 0.2;
    border-radius: 16px;
    padding: 2px 10px;
    margin: 5px 5px 5px 0px;
}
#cpu {
    background: linear-gradient(60deg, @color4, @color4);
    color: @color7;
    font-weight: bold;
    border-radius: 16px 0px 0px 16px;
    padding: 2px 0px 2px 10px;
    margin: 5px 0px 5px 0px;
}
#custom-mem{
    background: linear-gradient(60deg, @color5, @color5);
    color: @color7;
    font-weight: bold;
    border-radius: 0px 16px 16px 0px;
    padding: 2px 5px 2px 0px;
    margin: 5px 2px 5px 0px;
}
#temperature {
    background: linear-gradient(90deg, @color4, @color5);
    color: @color7;
    font-weight: bold;
    padding: 2px 10px;
    margin: 5px 0px;
}
#temperature.critical {
    background: linear-gradient(90deg, @color4, @color5);
    color: @background;
    font-weight: bold;
    padding: 2px 10px;
    margin: 5px 0px 5px 0px;
}
